In [16]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [17]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
df=pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [40]:
green_df=pd.read_csv('green_tripdata_2019-10.csv',nrows=100)

In [41]:
green_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

In [42]:
engine.connect()

In [45]:
green_df.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [44]:
green_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

In [9]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [46]:
green_df.lpep_pickup_datetime=pd.to_datetime(green_df.lpep_pickup_datetime)
green_df.lpep_dropoff_datetime=pd.to_datetime(green_df.lpep_dropoff_datetime)

In [48]:
green_df.count()

VendorID                 100
lpep_pickup_datetime     100
lpep_dropoff_datetime    100
store_and_fwd_flag       100
RatecodeID               100
PULocationID             100
DOLocationID             100
passenger_count          100
trip_distance            100
fare_amount              100
extra                    100
mta_tax                  100
tip_amount               100
tolls_amount             100
ehail_fee                  0
improvement_surcharge    100
total_amount             100
payment_type             100
trip_type                100
congestion_surcharge     100
dtype: int64

In [47]:
print(pd.io.sql.get_schema(green_df,name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [33]:
df_iter=pd.read_csv('green_tripdata_2019-10.csv',iterator=True,chunksize=100000)

In [34]:
df=next(df_iter)
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [35]:
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine,if_exists="replace")

In [36]:
%time df.to_sql("yellow_taxi_data",con=engine,if_exists="append")

CPU times: user 3.64 s, sys: 130 ms, total: 3.77 s
Wall time: 6.15 s

In [38]:
from time import time

In [39]:
while True:
    t_start=time()
    df=next(df_iter)
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql("yellow_taxi_data",con=engine,if_exists="append")
    t_end=time()
    print('chunk inserted - took %.3f second' %(t_end-t_start))

chunk inserted - took 6.291 second
chunk inserted - took 6.067 second
chunk inserted - took 6.141 second
chunk inserted - took 6.161 second
chunk inserted - took 6.107 second
chunk inserted - took 6.103 second
chunk inserted - took 6.118 second
chunk inserted - took 6.051 second
chunk inserted - took 6.313 second
chunk inserted - took 7.673 second
chunk inserted - took 6.046 second

/Users/hareeshramachandran/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

chunk inserted - took 6.371 second
chunk inserted - took 4.339 second

StopIteration:

In [49]:
taxi_zone=pd.read_csv('taxi_zone_lookup.csv')

In [50]:
taxi_zone.count()

LocationID      265
Borough         265
Zone            264
service_zone    263
dtype: int64

In [51]:
taxi_zone.head(20)

    LocationID        Borough                     Zone service_zone
0            1            EWR           Newark Airport          EWR
1            2         Queens              Jamaica Bay    Boro Zone
2            3          Bronx  Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan            Alphabet City  Yellow Zone
4            5  Staten Island            Arden Heights    Boro Zone
5            6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6            7         Queens                  Astoria    Boro Zone
7            8         Queens             Astoria Park    Boro Zone
8            9         Queens               Auburndale    Boro Zone
9           10         Queens             Baisley Park    Boro Zone
10          11       Brooklyn               Bath Beach    Boro Zone
11          12      Manhattan             Battery Park  Yellow Zone
12          13      Manhattan        Battery Park City  Yellow Zone
13          14       Brooklyn                Bay Ridge    Boro Zone
14          15         Queens  Bay Terrace/Fort Totten    Boro Zone
15          16         Queens                  Bayside    Boro Zone
16          17       Brooklyn                  Bedford    Boro Zone
17          18          Bronx             Bedford Park    Boro Zone
18          19         Queens                Bellerose    Boro Zone
19          20          Bronx                  Belmont    Boro Zone

In [52]:
print(pd.io.sql.get_schema(taxi_zone,name='zones',con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [53]:
taxi_zone.head(n=0).to_sql(name="zones",con=engine,if_exists="replace")
%time taxi_zone.to_sql("zones",con=engine,if_exists="append")

CPU times: user 5.14 ms, sys: 984 µs, total: 6.12 ms
Wall time: 13.2 ms