In [16]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [17]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
df=pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [18]:
engine.connect()

In [11]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [9]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [33]:
df_iter=pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [34]:
df=next(df_iter)
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [35]:
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine,if_exists="replace")

In [36]:
%time df.to_sql("yellow_taxi_data",con=engine,if_exists="append")

CPU times: user 3.64 s, sys: 130 ms, total: 3.77 s
Wall time: 6.15 s

In [38]:
from time import time

In [39]:
while True:
    t_start=time()
    df=next(df_iter)
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql("yellow_taxi_data",con=engine,if_exists="append")
    t_end=time()
    print('chunk inserted - took %.3f second' %(t_end-t_start))

chunk inserted - took 6.291 second
chunk inserted - took 6.067 second
chunk inserted - took 6.141 second
chunk inserted - took 6.161 second
chunk inserted - took 6.107 second
chunk inserted - took 6.103 second
chunk inserted - took 6.118 second
chunk inserted - took 6.051 second
chunk inserted - took 6.313 second
chunk inserted - took 7.673 second
chunk inserted - took 6.046 second

/Users/hareeshramachandran/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

chunk inserted - took 6.371 second
chunk inserted - took 4.339 second

StopIteration: